<!DOCTYPE html>
<html>
<style>
body {
  background-color: #033E3E;
}
</style>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5" style="color: #F8F6F0; text-align:center; font-family: 'Montserrat', sans-serif;">SECURITY CHECKING</h3>
                <center>
                    <img src="{{ url_for('video_feed') }}" width="50%">
                </center>
            </div>
        </div>
    </div>
    </body>


</html>